<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="first" color="primary"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>

    <!-- <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-title color="primary">Demo-app Ionic v1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
                placeholder="Buscar album"
                inputmode="text"
                (ionChange)="onSearchChange($event)"
                [debounce]="250"
                animated></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let album of albums; let i = index"> 
      <ion-label>{{i + 1}}. {{album.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
